/* Font Vazir */
@font-face {
  font-family: "Vazir";
  src: url("../public/assets/fonts/Vazir.eot"); /* IE9 Compat Modes */
  src: 
    /* IE6-IE8 */ url("../public/assets/fonts/Vazir.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../public/assets/fonts/Vazir.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../public/assets/fonts/Vazir.ttf")
      format("truetype"); /* Safari, Android, iOS */
  /*url('webfont.svg#svgFontName') format('svg'); !* Legacy iOS *!*/
}

body {
  background: #ffffff;
  color: #444;
  font-family: "Vazir";
}

.operation_btns {
  position: absolute;
  left: 0;
}
